<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kevinfunderburg.searchKMvariables</string>
	<key>connections</key>
	<dict>
		<key>976D393D-46DE-45CD-B8BF-083333650B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>368744CA-9CE8-423A-A6F9-7AE591B10450</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F465E1CF-1023-4618-98DD-140098F68A71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36527D9E-2928-4FC5-B591-E45B329F61DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF78BC78-5104-4673-80E7-BC04093A2DE9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>search and view all the variables stored in Keyboard Maestro</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Keyboard Maestro - Search Variables</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv	--set argv to {"currentSeed", "2467"}
	set {_name, val} to argv	set dialogResult to ¬		display dialog (val) ¬			with title ("Value of Variable '" &amp; _name &amp; "'") ¬			default answer ("new value") ¬			buttons {"Cancel", "Update", "OK"} ¬			default button ("OK") ¬			with icon POSIX file "/System/Volumes/Data/Applications/Keyboard Maestro.app/Contents/Resources/Variable.icns" as alias		if button returned of dialogResult = "Update" then		tell application "Keyboard Maestro Engine"			setvariable _name to text returned of dialogResult		end tell	end if	
	display notification ("'" &amp; _name &amp; "' updated to " &amp; text returned of dialogResult)end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36527D9E-2928-4FC5-B591-E45B329F61DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kmv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting variables...</string>
				<key>script</key>
				<string>python getKMdata.py -v /</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>type 'kmv' to view variables</string>
				<key>title</key>
				<string>view value of Keyboard Maestro variables</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F465E1CF-1023-4618-98DD-140098F68A71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set {_name, _val} to argv

	tell application "Keyboard Maestro Engine"
		setvariable _name to "%Delete%"
	end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF78BC78-5104-4673-80E7-BC04093A2DE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kmc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting clipboards..</string>
				<key>script</key>
				<string>python getKMdata.py -c /</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>type 'kmc' to view clipboards</string>
				<key>title</key>
				<string>view Keyboard Maestro clipboards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>976D393D-46DE-45CD-B8BF-083333650B0D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set {cname, cuid} to argv
	log "cname: " &amp; cname &amp; return &amp; "cuid: " &amp; cuid
	displayClip(cname, cuid)
end run


on displayClip(_name, _id)	set scpt to "&lt;dict&gt;
	&lt;key&gt;MacroActionType&lt;/key&gt;
	&lt;string&gt;DisplayImage&lt;/string&gt;
	&lt;key&gt;TargetNamedClipboardRedundantDisplayName&lt;/key&gt;
	&lt;string&gt;" &amp; _name &amp; "&lt;/string&gt;
	&lt;key&gt;TargetNamedClipboardUID&lt;/key&gt;
	&lt;string&gt;" &amp; _id &amp; "&lt;/string&gt;
	&lt;key&gt;TargetUseNamedClipboard&lt;/key&gt;
	&lt;true/&gt;
&lt;/dict&gt;"			tell application "Keyboard Maestro Engine" to do script scptend displayClip</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>368744CA-9CE8-423A-A6F9-7AE591B10450</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>36527D9E-2928-4FC5-B591-E45B329F61DB</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>368744CA-9CE8-423A-A6F9-7AE591B10450</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>976D393D-46DE-45CD-B8BF-083333650B0D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>DF78BC78-5104-4673-80E7-BC04093A2DE9</key>
		<dict>
			<key>note</key>
			<string>delete var</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F465E1CF-1023-4618-98DD-140098F68A71</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>www.github.com/kevin-funderburg</string>
</dict>
</plist>
